# 🛑 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
nohup.out
debug.log
error.log

# 🛑 Node.js dependencies (Backend & Frontend)
node_modules/

# 🛑 Vue.js (Frontend)
frontend/dist/
frontend/node_modules/
dist
dist-ssr
*.local

# 🛑 PostgreSQL Data (évite d'envoyer la base de données Docker)
pgdata/

# 🛑 Fichiers sensibles (variables d’environnement)
.env
backend/.env
frontend/.env

# 🛑 Docker
docker-compose.override.yml
docker-compose.override.yml~
Dockerfile~
**/Dockerfile~

# 🛑 Fichiers d’éditeurs et du système
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo

# 🛑 Autres fichiers inutiles
*.bak
